.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffff;
    border-radius: 15px;
  }
  
  .product-name {
    font-size: 24px;
    font-weight: bold;
    color: #5555;
  }
  
  .price {
    font-size: 20px;
    color: #28a745;
    margin: 8px 0;
  }
  
  .description {
    font-size: 16px;
    color: #555;
  }
  

  .card:hover {
    transform: scale(1.05); 
    transition: 50ms;
  }

  img {
    width: 100%;
  }